<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="/img/none.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%;background-attachment: fixed;">
<!--<a class="J_menuItem" href="/">-->
<!--    <i class="fa fa fa-bar-chart-o"></i>-->
<!--    <span class="nav-label">商场首页</span>-->
<!--</a>-->
<div style="color: red ; font-size: larger ; margin: 30px">
    <strong>欢迎使用校园商铺管理系统！</strong>
    <p>请在侧边栏选择对应管理功能！</p>
</div>
</body>
</html>